* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
  overflow: hidden;

  font-size: 2rem;

  transition: background-image 1s ease-in-out;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  background-color: rgba(41, 41, 41, 0.6);
  border-radius: 9px 9px 9px 9px;
  padding: 20px;
  margin-bottom: 80px;
}

.time {
  position: relative;
}

.left-btn {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(41, 41, 41, 0.6);

  user-select: none;
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
  transition: all 0.5s ease;
}

.right-btn {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(41, 41, 41, 0.6);

  user-select: none;
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
  transition: all 0.5s ease;
}

.left-btn:hover, .right-btn:hover {
  background-color: gray;
  cursor: pointer;
}

.left-btn:active, .right-btn:active {
  bottom: -55px;
}

.wrapper-date {

}

.wrapper-time {
  font-size: 5rem;
  line-height: 5.6rem;
}

.wrapper-name {
  max-width: 60%;
}

.wrapper-focus {
  max-width: 60%;
}

.name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.focus {

  word-break: break-all;
}

/*.time {*/
/*  font-size: 5rem;*/
/*}*/

h1 {
  font-size: 3rem;
  /*margin-bottom: 3rem;*/
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

button:active, button:focus {
  outline: none;
}

@media (max-width: 700px) {
  .time {
    /*font-size: 6rem;*/
  }
}

